<!DOCTYPE html>
<html lang="{{ site.lang | default: " fr-FR " }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> {% seo %}
</head>

<body>

  <header>
    <div class="header-title">
      <a href="/">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </a>
    </div>
    <div id="site-navigation">
      {% if page.url == '/skills.html' %}
      <span class="btn">Compétences</span>
      {% else %}
      <a href={{ "/skills" | absolute_url }} class="btn">Compétences</a>      
      {% endif %}
      {% if page.url == '/realizations.html' %}
      <span class="btn">Réalisations</span>
      {% else %}
      <a href="/realizations" class="btn">Réalisations</a>
      {% endif %}
      {% if page.url == '/aboutme.html' %}         
      <span class="btn">A propos de moi</span>
      {% else %}
      <a href="/aboutme" class="btn">A propos de moi</a>
      {% endif %}
      <a href="/documents/cv_Aymeric_Richard.pdf" target="_blank" class="btn">Télécharger un CV</a>
      <a href="{{ site.github.repository_url }}" class="btn btn-github">
        <span class="icon"></span>Voir sur GitHub</a>
    </div>
  </header>
  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>
</body>

</html>

<script>
  // When the user scrolls the page, execute stickyNavigation 
  window.onscroll = function () { stickyNavigation() };

  // Get the site-navigation
  var siteNavigation = document.getElementById("site-navigation");
  var mainContent = document.getElementById("main_content");

  // Get the offset position of the site-navigation
  var sticky = siteNavigation.offsetTop;

  // Add the sticky class to the site-navigation when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function stickyNavigation() {
    if (window.pageYOffset >= sticky) {
      siteNavigation.classList.add("sticky");
      mainContent.classList.add("sticky");
    } else {
      siteNavigation.classList.remove("sticky");
      mainContent.classList.remove("sticky");
    }
  }
</script>